@font-face {
    font-family: labyrinth;
    src: url("../font/AbstractLabyrinthRounded.ttf");
}

body {
    margin: 0;
    background-color: #333333;
}

header {
    height: 110px;
    padding-top: 20px;
    background-image: url("../img/header_bg.jpg");
    background-size: 50%;
    border-bottom: 3px solid #797979;
}

header h1 {
    font-family: labyrinth, Arial, sans-serif;
    font-size: 44pt;
    color: #797979;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

.wrapper {
    min-height: calc(100vh - 183px);
    margin: 0px 100px;
    padding-bottom: 40px;
    background-color: #e4e4e4;
    border-color: white;
    border-style: solid;
    border-width: 0px 2px 0px 2px;
}

nav {
    margin-bottom:20px;
    border-top: 10px solid #ff6b33;
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #3F3F43;
}


nav ul {
    width: 55%;
    margin: 0px auto;  /*TODO not centered*/
    padding: 0px 0px 10px;
}

nav li {
    display: inline-block;
    padding: 10px;
}

nav li:hover, .active_nav {
    border-radius: 0px 0px 10px 10px;
    background: linear-gradient(to bottom, #ff6b33 0%, #ff8a35 100%);
}

.canvas h2, h5, #generate {
    font-family: Arial, sans-serif;
    text-align: center;
}

.canvas .maze {
    display: grid;
    width: 60%;
    margin: 0px auto 20px;
    grid-template-columns: repeat(18, auto);  /* Done by JS*/
    padding: 10px;
    background-color: #333333;
}

.grid-item { /*todo is border needed?*/
    background-color: black;
    font-size: 30px;
    text-align: center;
    /*border: 1px solid rgba(0, 0, 0, 0.8);*/
}

.player {
    margin: 0px auto;
    width: 50%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}

.btn {
    padding: 9px 32px;
    border: 1px solid #cc562c;
    font-size: 12px;
    text-align: center;
    color: white;
    background: linear-gradient(to bottom, #ff6b33 0%, #ff8a35 100%);
}

.btn:hover {
    color: #ffa888;
}

.left_btn {
    border-radius: 10px 0px 0px 10px;
}

.right_btn {
    border-radius: 0px 10px 10px 0px;
}

.single_btn {
    border-radius: 10px;
}

#generate {
    width: 50%; /*todo not the same width as player btns*/
    margin: 0px auto;
    font-size: 2em;
}

footer {
    height: 25px;
    padding-top: 12px;
    font-family: Arial, serif;
    text-align: center;
    color: white;
    background-color: #3F3F43;
    border-top: 10px solid #ff6b33;
}