<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Labyrinth Generator</title>
        <script src="/jquery/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <script src="/js/index.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
              integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"/>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h1 id="title">Labyrinth Generator</h1>
        </header>

        <div class="wrapper">
            <nav>
                <div class="separator"></div>
                <ul>
                    <li class="active_nav" id="dfs">DFS</li>
                    <li id="kruskal">Kruskal</li> <!--new-->
                    <li id="rnd_prim">Random Prim</li>
                    <li id="rec_division">Recursive division</li>
                    <li id="cellular">Cellular automaton</li>
                </ul>
            </nav>
            <section class="canvas">
                <h2>Depth-first search algorithm</h2>
                <!--the maze todo fill it with tymeleaf-->
                <article class="maze">
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>

                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>

                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>

                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                </article>

                <div class="btn single_btn" id="generate">Generate</div>
                <div class="player"></div>
            </section>
        </div>
        <footer> Copyright &copy; Codecool 2017/2 - Daniel Knoll <i class="fab fa-github"></i></footer>
    </body>
</html>