<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>
        <title>Labyrinth Generator</title>
        <script src="/jquery/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="/js/main.js"></script>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
              integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous"/>
        <link href="/css/style.css" rel="stylesheet"/>
    </head>
    <body>
        <header>
            <h1 id="title">Labyrinth Generator</h1>
        </header>

        <div class="wrapper">
            <nav>
                <div class="separator"></div>
                <ul> <!--TODO use id-->
                    <li>DFS</li>
                    <li>Kruskal's</li>
                    <li>Random Prim</li>
                    <li>Recursive division</li>
                    <li>Cellular automaton</li>
                </ul>
            </nav>
            <section>
                <!--the maze-->
                <article class="maze">
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>

                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">1</div>

                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>

                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">1</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                    <div class="grid-item">0</div>
                </article>

                <div class="player">
                    <button class="btn" id="start"><i class="fas fa-step-backward fa-2x"></i></button>
                    <button class="btn" id="rew"><i class="fas fa-backward fa-2x"></i></button>
                    <button class="btn" id="play"><i class="fas fa-play fa-2x"></i></button>
                    <button class="btn" id="fow"><i class="fas fa-forward fa-2x"></i></button>
                    <button class="btn" id="end"><i class="fas fa-step-forward fa-2x"></i></button>
                </div>
            </section>
        </div>
        <footer> Copyright &copy; Codecool 2017/2 - Daniel Knoll </footer>
    </body>
</html>